<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
       
          
          
         
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Order Tracking</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Order Location</th>
                <th scope="col">Order Amount</th>
                <th scope="col">Order Type</th>
                <th scope="col">Order Weight(kgs)</th>
                <th scope="col">Delivery Mode</th>
                <th scope="col">Order Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>
                  {{order.oid}}
              </td>
                <td>
                  {{order.sid}}
                </td>
                <td>
                  {{NumberToCity(order.location)}}
                </td>
                <td>
                  {{order.totalamount}}
                </td>
                <td>
                  {{order.type}}
                </td>
                <td>
                  {{order.weight}}
                </td>
                <td>
                  {{order.deliveryMode}}
                </td>
                <td>
                  {{NumberToOrderStatus(order.order_status)}}
                </td>                
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  