<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row mt-1">
            <div class="col">
              <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                  <h3 class="text-white mb-0">Orders</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Amonunt</th>
                        <th scope="col">Supplier Id</th>
                        
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            
                            <div class="media-body">
                              <span class="mb-0 text-sm">101</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          21/05/2019
                        </td>
                       
                        <td>
                         Rs.200000
                        </td>
                        <td>
                          101
                       
                        <td class="text-right">
                            <button type="button" class="btn btn-primary my-4" [routerLink]="['/Threepl_form']">Give feedback</button>

                        </td>
                      </tr>
            
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        