<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
       
          
          
         
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Order Products</h3>
          </div>
          
          

          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
             
                <form (ngSubmit)="onSubmit()" class="form-horizontal" #f="ngForm" >

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="productName" class=" form-control-label">Product Name</label></div>
                        <div class="col-12 col-md-9">
                          <input 
                            type="string" 
                            id="productName" 
                            name="productName" 
                            placeholder="Enter product name" 
                            class="form-control"
                            ngModel required>
                          </div>
                    </div>

                    <div class="row form-group">
                      <div class="col col-md-3"><label for="productType" class=" form-control-label">Product Type</label></div>
                        <div class="col-12 col-md-9">
                          <select name="productType" id="productType" class="form-control" ngModel required >
                            <option value="0">Please select</option> 
                            <option value="Electronic">Electronic </option>
                            <option value="Furniture">Furniture</option>
                           </select>
                        </div>
                      </div>
                      <div class="row form-group">
                          <div class="col col-md-3"><label for="weight" class=" form-control-label">Weight(Kg)</label></div>
                          <div class="col-12 col-md-9">
                            <input type="number" 
                              id="weight" 
                              name="weight" 
                              placeholder="Enter Quantity" 
                              class="form-control"
                              [(ngModel)]="r" required>
                            </div>
                      </div>

                      <div class="row form-group">
                           <div class="col col-md-3"><label for="quantity" class=" form-control-label">Quantity</label></div>
                           <div class="col-12 col-md-9">
                              <input type="number" 
                                id="quantity" 
                                name="quantity" 
                                placeholder="Enter Quantity" 
                                class="form-control"
                                [(ngModel)]="q" required>
                            </div>
                      </div>
                            
                            <div class="row form-group">
                                 <div class="col col-md-3"><label for="price" class=" form-control-label" >Price</label></div>
                                 <div class="col-12 col-md-9">
                                   <input 
                                     type="number" 
                                     id="price" 
                                     name="price" 
                                     placeholder="Enter the price" 
                                     class="form-control"
                                     [(ngModel)]="p" required></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="location" class=" form-control-label">Delivery Location</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="location" id="location" class="form-control" ngModel required >
                                          
                                          <option value=1>Mumbai</option>
                                          <option value=2>Delhi</option>
                                          <option value=3>Pune</option>
                                          <option value=4>Kolkata</option>
                                          <option value=5>Chennai</option>
                                          <option value=6>Nagpur</option>
                                          <option value=7>Ahemadabad</option>
                                          <option value=8>Srinagar</option>
                                          <option value=9>Panaji</option>
                                          <option value=10>Hyderabad</option>
                                          </select>
                                    </div>
                              </div>
                            <div class="row form-group">
                                  <div class="col col-md-3"><label for="amount" class=" form-control-label">Total Transaction Amount</label></div>
                                  <div class="col-12 col-md-9"  [(ngModel)]="totalamount" >
                                      <i class="fas fa-rupee-sign"> {{p*q}} </i>  
                                  </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="totalWeight" class=" form-control-label">Total Weight</label></div>
                                <div class="col-12 col-md-9"  [(ngModel)]="totalWeight" >
                                    <i > {{q*r}} kgs </i>  
                                </div>
                          </div>
                            <!-- <div class="row form-group">
                                  <div class="col col-md-3"><label for="Expected_Date" class=" form-control-label">Expected Date</label></div>
                                  <div class="col-12 col-md-9">
                                    <input 
                                      type="date" 
                                      id="expectedDate" 
                                      name="expectedDate"  
                                      class="form-control"
                                      ngModel required></div>
                            </div> -->
                            <div class="form-actions form-group" ><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
                          </form>
            </div>
          </div>



























          
        </div>
      </div>
    </div>
  </div>
  